Repository MetaMask/metamask-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/activation, @MetaMask/tech-writers, @MetaMask/snaps, @MetaMask/wallet-api-platform-engineers, @MetaMask/sdk-devs

.github/CODEOWNERS:

# This is a codeowners file. The last matching pattern takes precedence,
# so the listed codeowners apply only if there is no later match.

# Default owner for all other files
* @MetaMask/activation

# Docusaurus configuration
docusaurus.config.js @MetaMask/activation @MetaMask/tech-writers

# Vercel configuration
vercel.json @MetaMask/activation @MetaMask/tech-writers

# Sidebar files
*-sidebar.js @MetaMask/activation @MetaMask/tech-writers

# All other Markdown files
*.md @MetaMask/tech-writers
*.mdx @MetaMask/tech-writers

# Services documentation
/services/ @MetaMask/tech-writers

# Snaps documentation
/snaps/ @MetaMask/tech-writers @MetaMask/snaps

# Wallet and SDK documentation
/wallet/ @MetaMask/tech-writers @MetaMask/wallet-api-platform-engineers @MetaMask/sdk-devs

Fix: Adjust heading level and indentation for OpBNB section
  services/get-started/endpoints.md
Owners: @MetaMask/tech-writers

feat(docs): added handling for category links
  docusaurus.config.js
  src/components/CustomReferencePage/index.tsx
  src/helpers/index.ts
Owners: @MetaMask/activation, @MetaMask/tech-writers

feat(docs): added handling for object input field
  src/components/ParserOpenRPC/InteractiveBox/index.tsx
Owners: @MetaMask/activation

fix(cors): fix profile sdk env
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

feat(docs): made fix for ACT-1539
  src/components/ParserOpenRPC/InteractiveBox/index.tsx
Owners: @MetaMask/activation

fix(cors): fix profile sdk env
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

feat(docs): added full handling for edge case
  src/components/ParserOpenRPC/InteractiveBox/index.tsx
Owners: @MetaMask/activation

fix(docs): fix for preview links
  src/theme/Root.tsx
Owners: @MetaMask/activation

fix(cors): fix profile sdk env
  src/components/AuthLogin/AuthModal.tsx
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

fix(cors): fix profile sdk env (#1568)
  src/components/AuthLogin/AuthModal.tsx
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

fix(cors): fix profile sdk env
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

fix(cors): fix profile sdk env
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

fix(cors): fix profile sdk env (#1570)
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

Fix Fuji link (#1564)
  services/how-to/get-testnet-tokens.md
Owners: @MetaMask/tech-writers

Update link (#1565)
  services/get-started/pricing/credit-cost.md
Owners: @MetaMask/tech-writers

Add Field around Input elements in JSX examples (#1519)
  snaps/features/custom-ui/with-jsx.md
Owners: @MetaMask/tech-writers, @MetaMask/snaps

Fix: Adjust heading level and indentation for OpBNB section (#1567)
  services/get-started/endpoints.md
Owners: @MetaMask/tech-writers

feat(docs): ACT-1539 - Handle Object Type for Input (#1569)
  src/components/ParserOpenRPC/InteractiveBox/index.tsx
Owners: @MetaMask/activation

fix(reference): fix for wallet ref pages
  src/components/ParserOpenRPC/AuthBox/index.tsx
  src/components/ParserOpenRPC/index.tsx
  src/theme/Root.tsx
Owners: @MetaMask/activation

fix(reference): refactored func names
  src/components/NavbarWallet/index.tsx
  src/components/ParserOpenRPC/AuthBox/index.tsx
  src/components/ParserOpenRPC/ProjectsBox/index.tsx
  src/theme/Root.tsx
Owners: @MetaMask/activation

fix(reference): fix for wallet ref pages (#1571)
  src/components/NavbarWallet/index.tsx
  src/components/ParserOpenRPC/AuthBox/index.tsx
  src/components/ParserOpenRPC/ProjectsBox/index.tsx
  src/components/ParserOpenRPC/index.tsx
  src/theme/Root.tsx
Owners: @MetaMask/activation

feat(mm-login): improve metamask login
  src/components/AuthLogin/AuthModal.tsx
  src/components/ParserOpenRPC/index.tsx
  src/lib/constants.js
  src/lib/siwsrp/auth.ts
Owners: @MetaMask/activation

feat(mm-login): remove unused metamask connect handler
  src/components/ParserOpenRPC/AuthBox/index.tsx
  src/theme/Root.tsx
Owners: @MetaMask/activation

fix(docs): fixed bug
  src/components/ParserOpenRPC/InteractiveBox/index.tsx
Owners: @MetaMask/activation

fix(docs): fixed bug (#1573)
  src/components/ParserOpenRPC/InteractiveBox/index.tsx
Owners: @MetaMask/activation
